name: Build and deploy
on:
  release:
    types: ['published']
  workflow_dispatch:
permissions:
  contents: read
  deployments: write
  packages: write
  id-token: write
concurrency:
  group: pages
  cancel-in-progress: false
defaults:
  run:
    shell: bash
env:
  GO_VERSION: '1.25'
jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      BUILD_REPO: ${{ github.event.repository.name }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: start deployment
        uses: bobheadxi/deployments@v1
        id: deployment
        with:
          step: start
          token: ${{ secrets.GITHUB_TOKEN }}
          env: release
          desc: "run_id: ${{ github.run_id }}, ref: ${{ github.ref }}"

      - name: set deployment variables
        id: vars
        run: |
          echo "BUILD_RELEASE=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
          echo "BUILD_RELEASE_MAJOR=$(echo ${GITHUB_REF%%.*} | awk -F/ '{ print $3; }')" >> $GITHUB_OUTPUT
          echo "BUILD_RELEASE_NUMBER=$(echo ${GITHUB_REF#refs/tags/v})" >> $GITHUB_OUTPUT
          echo "BUILD_DATE=$(date -u +'%Y-%m-%dT%H:%M:%SZ')" >> $GITHUB_OUTPUT
          echo "BUILD_REPO=$(echo ${GITHUB_REPOSITORY} | awk -F/ '{ print $2; }')" >> $GITHUB_OUTPUT

      - name: print deployment variables
        run: |
          echo "BUILD_RELEASE: ${{ steps.vars.outputs.BUILD_RELEASE }}"
          echo "BUILD_RELEASE_MAJOR: ${{ steps.vars.outputs.BUILD_RELEASE_MAJOR }}" 
          echo "BUILD_RELEASE_NUMBER: ${{ steps.vars.outputs.BUILD_RELEASE_NUMBER }}"
          echo "BUILD_DATE: ${{ steps.vars.outputs.BUILD_DATE }}"
          echo "BUILD_REPO: ${{ steps.vars.outputs.BUILD_REPO }}"
          
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        if: success()
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./deployments/Dockerfile
          build-args: |
            BUILD_DATE=${{ steps.vars.outputs.BUILD_DATE }}
            BUILD_REVISION=${{ github.sha }}
            BUILD_VERSION=${{ github.sha }}
            BUILD_REPO=${{ steps.vars.outputs.BUILD_REPO }}
            BUILD_RELEASE_NUMBER=${{ steps.vars.outputs.BUILD_RELEASE_NUMBER }}
          target: app
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/${{ steps.vars.outputs.BUILD_REPO }}:${{ steps.vars.outputs.BUILD_RELEASE }}
            ghcr.io/${{ github.repository_owner }}/${{ steps.vars.outputs.BUILD_REPO }}:${{ steps.vars.outputs.BUILD_RELEASE_MAJOR }}
            ghcr.io/${{ github.repository_owner }}/${{ steps.vars.outputs.BUILD_REPO }}:latest

      - name: finish deployment
        uses: bobheadxi/deployments@v1
        if: always()
        with:
          step: finish
          token: ${{ secrets.GITHUB_TOKEN }}
          status: ${{ job.status }}
          env: ${{ steps.deployment.outputs.env }}
          deployment_id: ${{ steps.deployment.outputs.deployment_id }}
